

   <div class="footer-bg">
      <div>
        <div class="container-link">
          <a href="./index.html" class="logo-footer">yachtjet</a>
          <ul class="list-button-link">
            <li class="item-link-anchor">
              <a href="#about" class="link-na-section">ABOUT</a>
            </li>
            <li class="item-link">
              <a href="#yachts" class="link-na-section">YACHTS</a>
            </li>
            <li class="item-link">
              <a href="#reviews" class="link-na-section">REVIEWS</a>
            </li>
          </ul>
    
          <ul class="socmedia-footer">
            <li class="item-icon">
              <a href="https://www.instagram.com/goitclub/" class="socmediaicon" target="_blank">
                <svg width="19" height="19" class="icon-footer">
                  <use href="./img/icons.svg#icon-inst"></use>
                </svg>
              </a>
            </li>
            <li class="item-icon">
              <a href="https://www.youtube.com/c/GoIT" class="socmediaicon" target="_blank">
                <svg width="20" height="20" class="icon-footer">
                  <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="item-icon">
              <a href="https://www.facebook.com/goITclub/" class="socmediaicon" target="_blank">
                <svg width="20" height="20" class="icon-footer">
                  <use href="./img/icons.svg#icon-face"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <div class="container-slogan-police">
          <p class="paragraph-slogan-company">
            No matter which yacht you choose, our experienced crew will ensure that
            your journey is smooth and enjoyable.
          </p>
          <ul class="list-info-footer">
            <li class="item-info-footer">
              <a href="" class="info-footer-policy">2023. Yacht Adventures</a>
            </li>
            <li class="item-info-footer">
              <a href="" class="info-footer-policy">Privacy Police</a>
            </li>
          </ul>
        </div>
      </div>
   </div>


