<div>
    <h1>Footer</h1>
    <ul class="socmedia-footer">
        <li class="item-icon">
            <a href="https://www.instagram.com/goitclub/" class="socmediaicon">
                <svg width="19" height="19" class="icon-footer">
                    <use href="./img/icons.svg#icon-inst"></use>
                </svg>
            </a>

        </li>
        <li class="item-icon">
            <a href="https://www.youtube.com/c/GoIT" class="socmediaicon">
                <svg width="20" height="20" class="icon-footer">
                    <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
            </a>

        </li>
        <li class="item-icon">
            <a href="https://www.facebook.com/goITclub/" class="socmediaicon">
                <svg width="20" height="20" class="icon-footer">
                    <use href="./img/icons.svg#icon-face"></use>
                </svg>
            </a>

        </li>
       </ul>
</div>