<section class="footer-section">
  <div class="container def-cont-footer">
    <div class="container-link">
      <p class="paragraph-footer">yachtjet</p>
      <ul class="list-button-link">
        <li class="item-link-anchor">
          <button class="button-link">
            <a href="#about" class="link-na-section">ABOUT</a>
          </button>
        </li>
        <li class="item-link">
          <button class="button-link">
            <a href="#yachts" class="link-na-section">YACHTS</a>
          </button>
        </li>
        <li class="item-link">
          <button class="button-link">
            <a href="#reviews" class="link-na-section">REVIEWS</a>
          </button>
        </li>
      </ul>

      <ul class="socmedia-footer">
        <li class="item-icon">
          <a href="https://www.instagram.com/goitclub/" class="socmediaicon">
            <svg width="19" height="19" class="icon-footer">
              <use href="./img/icons.svg#icon-inst"></use>
            </svg>
          </a>
        </li>
        <li class="item-icon">
          <a href="https://www.youtube.com/c/GoIT" class="socmediaicon">
            <svg width="20" height="20" class="icon-footer">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="item-icon">
          <a href="https://www.facebook.com/goITclub/" class="socmediaicon">
            <svg width="20" height="20" class="icon-footer">
              <use href="./img/icons.svg#icon-face"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="paragraph-slogan-company">
      No matter which yacht you choose, our experienced crew will ensure that
      your journey is smooth and enjoyable.
    </p>
    <ul class="list-info-footer">
      <li class="item-info-footer">
        <a class="info-footer-policy">2023. Yacht Adventures</a>
      </li>
      <li class="item-info-footer">
        <a class="info-footer-policy">Privacy Police</a>
      </li>
    </ul>
  </div>
</section>
