
<div class="header"> 
    <h1>хедер</h1>
    <ul class="socmedia">
        <li class="item-icon">
            <a href="https://www.instagram.com/goitclub/" class="socmediaicon">
                <svg width="19" height="19" class="icon">
                    <use href="./img/icons.svg#icon-inst"></use>
                </svg>
            </a>

        </li>
        <li class="item-icon">
            <a href="https://www.youtube.com/c/GoIT" class="socmediaicon">
                <svg width="20" height="20" class="icon">
                    <use href="./img/icons.svg#icon-youtube"></use>
                </svg>
            </a>

        </li>
        <li class="item-icon">
            <a href="https://www.facebook.com/goITclub/" class="socmediaicon">
                <svg width="20" height="20" class="icon">
                    <use href="./img/icons.svg#icon-face"></use>
                </svg>
            </a>

        </li>
    </ul>
    <div>
        <svg width="24" height="10" class="icon-buter">
            <use href="./img/icons.svg#icon-buter"></use>
        </svg>
    </div>
    <div>
        <svg width="16" height="16" class="icon">
            <use href="./img/icons.svg#icon-close"></use>
        </svg>
    </div>

    
</div>

