<div class="header">
  <a href="./index.html" class="logo">yachtjet</a>
  <nav class="navigation">
    <ul class="navigation-list">
      <a href="#about" class="navigation-link">
        <li class="navigation-item">About</li>
      </a>
      <a href="#yachts" class="navigation-link">
        <li class="navigation-item">Yachts</li>
      </a>
      <a href="#reviews" class="navigation-link">
        <li class="navigation-item">Reviews</li>
      </a>
    </ul>
  </nav>
  <ul class="socmedia-list">
    <li class="socmedia-item">
      <a
        href="https://www.instagram.com/goitclub/"
        class="socmedia-icon"
        target="_blank"
      >
        <svg width="19" height="19" class="icon-sm">
          <use href="./img/icons.svg#icon-inst"></use>
        </svg>
      </a>
    </li>
    <li class="socmedia-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        class="socmedia-icon"
        target="_blank"
      >
        <svg width="20" height="20" class="icon-sm">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="socmedia-item">
      <a
        href="https://www.facebook.com/goITclub/"
        class="socmedia-icon"
        target="_blank"
      >
        <svg width="20" height="20" class="icon-sm">
          <use href="./img/icons.svg#icon-face"></use>
        </svg>
      </a>
    </li>
  </ul>
  <div class="box-icon-menu">
    <svg width="24" height="10" class="icon-menu">
      <use href="./img/icons.svg#icon-buter"></use>
    </svg>
  </div>
</div>
<!-- <div class="modal-menu-header">
  <div class="top-line-modal">
    <a href="./index.html" class="  ">yachtjet</a>
    <div class="box-icon-close">
      <svg width="16" height="16" class="icon-close">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </div>
  </div>
  <nav class="navigation-menu">
    <ul class="navigation-list-menu">
      <a href="#about" class="navigation-link-menu">
        <li class="navigation-item-menu">About</li>
      </a>
      <a href="#yachts" class="navigation-link-menu">
        <li class="navigation-item-menu">Yachts</li>
      </a>
      <a href="#reviews" class="navigation-link-menu">
        <li class="navigation-item-menu">Reviews</li>
      </a>
    </ul>
  </nav>
  <ul class="socmedia-list-menu">
    <li class="socmedia-item-menu">
      <a
        href="https://www.instagram.com/goitclub/"
        class="socmedia-icon-menu"
        target="_blank"
      >
        <svg width="19" height="19" class="icon-sm-menu">
          <use href="./img/icons.svg#icon-inst"></use>
        </svg>
      </a>
    </li>
    <li class="socmedia-item-menu">
      <a
        href="https://www.youtube.com/c/GoIT"
        class="socmedia-icon-menu"
        target="_blank"
      >
        <svg width="20" height="20" class="icon-sm-menu">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="socmedia-item-menu">
      <a
        href="https://www.facebook.com/goITclub/"
        class="socmedia-icon-menu"
        target="_blank"
      >
        <svg width="20" height="20" class="icon-sm-menu">
          <use href="./img/icons.svg#icon-face"></use>
        </svg>
      </a>
    </li>
  </ul>
</div> -->
