<div class="header">
  <a href="./index.html" class="logo">yachtjet</a>
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-item">
        <a href="#about" class="navigation-link">About </a>
      </li>
      <li class="navigation-item">
        <a href="#yachts" class="navigation-link">Yachts</a>
      </li>
      <li class="navigation-item">
        <a href="#reviews" class="navigation-link">Reviews</a>
      </li>
    </ul>
  </nav>
  <ul class="socmedia-list">
    <li class="socmedia-item">
      <a
        href="https://www.instagram.com/goitclub/"
        class="socmedia-icon"
        target="_blank"
      >
        <svg width="19" height="19" class="icon-sm">
          <use href="./img/icons.svg#icon-inst"></use>
        </svg>
      </a>
    </li>
    <li class="socmedia-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        class="socmedia-icon"
        target="_blank"
      >
        <svg width="20" height="20" class="icon-sm">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="socmedia-item">
      <a
        href="https://www.facebook.com/goITclub/"
        class="socmedia-icon"
        target="_blank"
      >
        <svg width="20" height="20" class="icon-sm">
          <use href="./img/icons.svg#icon-face"></use>
        </svg>
      </a>
    </li>
  </ul>
  <button type="button" class="box-icon-menu" data-mobmenu-open>
    <svg width="24" height="10" class="icon-menu">
      <use href="./img/icons.svg#icon-buter"></use>
    </svg>
  </button>
</div>

<!------------------------------------------------------------Modal-menu -->


<!-- <div class="modal-menu-header is-hidden" data-mobmenu> -->
  <div class="top-line-modal">
    <a href="./index.html" class="logo-menu">yachtjet</a>
    <button type="button" class="box-icon-close" data-mobmenu-close>
      <svg width="16" height="16" class="icon-close">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <nav class="navigation-menu">
    <ul class="navigation-list-menu">
      <li class="navigation-item-menu">
        <a href="#about" class="navigation-link-menu">About </a>
      </li>
      <li class="navigation-item-menu">
        <a href="#yachts" class="navigation-link-menu">Yachts</a>
      </li>
      <li class="navigation-item-menu">
        <a href="#reviews" class="navigation-link-menu">Reviews</a>
      </li>
    </ul>
  </nav>
  <ul class="socmedia-list-menu">
    <li class="socmedia-item-menu">
      <a
        href="https://www.instagram.com/goitclub/"
        class="socmedia-icon-menu"
        target="_blank"
      >
        <svg width="19" height="19" class="icon-sm-menu">
          <use href="./img/icons.svg#icon-inst"></use>
        </svg>
      </a>
    </li>
    <li class="socmedia-item-menu">
      <a
        href="https://www.youtube.com/c/GoIT"
        class="socmedia-icon-menu"
        target="_blank"
      >
        <svg width="20" height="20" class="icon-sm-menu">
          <use href="./img/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
    <li class="socmedia-item-menu">
      <a
        href="https://www.facebook.com/goITclub/"
        class="socmedia-icon-menu"
        target="_blank"
      >
        <svg width="20" height="20" class="icon-sm-menu">
          <use href="./img/icons.svg#icon-face"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
