<section class="container our-yachts">
  <h2 class="title-yachts">
    Choose your dream yacht and sail away into the sunset
  </h2>
  <div>
    <ul class="item-our-yachts">
      <li class="item-our-yachts-block">
        <img
          src="./img/our-yachts/yaht-1.jpg"
          width="360"
          height="268"
          alt="Photo yacht"
          class="yacht-img"
        />
        <div class="block-categories-yacht">
          <div class="name-our-yacht">
            <p class="name-yacht">Arrow</p>
            <p class="type-yacht">LUXURY YAHTS</p>
          </div>
          <div class="categories-yacht">
            <ul>
              <li><p class="text-categories-yacht">LENGTH</p></li>
              <li><p class="text-categories-yacht">BUILDER</p></li>
              <li><p class="text-categories-yacht">BUILT</p></li>
              <li><p class="text-categories-yacht">GUESTS</p></li>
              <li><p class="text-categories-yacht">PRICE</p></li>
            </ul>
            <ul>
              <li><p class="response">48m(155ft)</p></li>
              <li><p class="response">Admiral</p></li>
              <li><p class="response">2021</p></li>
              <li><p class="response">11 in 5 cabins</p></li>
              <li><p class="response">€33,500,000</p></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="item-our-yachts-block">
        <img
          src="../img/our-yachts/yaht-2.jpg"
          width="360"
          height="268"
          alt="Photo yacht"
          class="yacht-img"
        />
        <div class="block-categories-yacht">
          <div class="name-our-yacht">
            <p class="name-yacht">BENETTI OASIS 40M BO122</p>
            <p class="type-yacht">LUXURY YAHTS</p>
          </div>
          <div class="categories-yacht">
            <ul>
              <li><p class="text-categories-yacht">LENGTH</p></li>
              <li><p class="text-categories-yacht">SHIPYARD</p></li>
              <li><p class="text-categories-yacht">BUILT</p></li>
              <li><p class="text-categories-yacht">GUESTS</p></li>
              <li><p class="text-categories-yacht">PRICE</p></li>
            </ul>
            <ul>
              <li><p class="response">41m (133ft)</p></li>
              <li><p class="response">Benetti</p></li>
              <li><p class="response">2025</p></li>
              <li><p class="response">10 in 5 cabins</p></li>
              <li><p class="response">€23,210,000</p></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="item-our-yachts-block">
        <img
          src="./img/our-yachts/yaht-3.jpg"
          width="360"
          height="268"
          alt="Photo yacht"
          class="yacht-img"
        />
        <div class="block-categories-yacht">
          <div class="name-our-yacht">
            <p class="name-yacht">BELLE ANNA</p>
            <p class="type-yacht">LUXURY YAHTS</p>
          </div>
          <div class="categories-yacht">
            <ul>
              <li><p class="text-categories-yacht">LENGTH</p></li>
              <li><p class="text-categories-yacht">SHIPYARD</p></li>
              <li><p class="text-categories-yacht">BUILT</p></li>
              <li><p class="text-categories-yacht">GUESTS</p></li>
              <li><p class="text-categories-yacht">PRICE</p></li>
            </ul>
            <ul>
              <li><p class="response">50m(155ft)</p></li>
              <li><p class="response">ISA</p></li>
              <li><p class="response">2012</p></li>
              <li><p class="response">12 in 6 cabins</p></li>
              <li><p class="response">€21,000,000</p></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <button type="button">Yacht rental</button>
</section>
