<section class="our-yachts" id="yachts">
  <div class="container">
    <h2 class="title-yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="item-our-yachts">
      <li class="item-our-yachts-block">
        <picture>
          <source
            srcset="
              ./img/our-yachts/yaht-1.jpg    1x,
              ./img/our-yachts/yaht-1-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/our-yachts/yaht-1-top-1x.jpg 1x,
              ./img/our-yachts/yaht-1-top-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/our-yachts/yaht-1-tab-1x.jpg 1x,
              ./img/our-yachts/yaht-1-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/our-yachts/yaht-1-mob-1x.jpg 1x,
              ./img/our-yachts/yaht-1-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/our-yachts/yaht-1.jpg"
            width="360"
            height="268"
            alt="Photo yacht"
            class="yacht-img"
          />
        </picture>

        <div class="block-categories-yacht">
          <div class="name-our-yacht">
            <p class="name-yacht">Arrow</p>
            <p class="type-yacht">LUXURY YAHTS</p>
          </div>
          <div class="categories-yacht">
            <ul class="item-categories">
              <li><p class="text-categories-yacht">LENGTH</p></li>
              <li><p class="text-categories-yacht">BUILDER</p></li>
              <li><p class="text-categories-yacht">BUILT</p></li>
              <li><p class="text-categories-yacht">GUESTS</p></li>
              <li><p class="text-categories-yacht">PRICE</p></li>
            </ul>
            <ul class="item-response">
              <li><p class="response">48m(155ft)</p></li>
              <li><p class="response">Admiral</p></li>
              <li><p class="response">2021</p></li>
              <li><p class="response">11 in 5 cabins</p></li>
              <li><p class="response">€33,500,000</p></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="item-our-yachts-block two">
        <picture>
          <source
            srcset="
              ./img/our-yachts/yaht-2.jpg    1x,
              ./img/our-yachts/yaht-2-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/our-yachts/yaht-2-top-1x.jpg 1x,
              ./img/our-yachts/yaht-2-top-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/our-yachts/yaht-2-tab-1x.jpg 1x,
              ./img/our-yachts/yaht-2-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/our-yachts/yaht-2.jpg"
            alt="Photo yacht"
            class="yacht-img"
            width="360"
            height="268"
          />
        </picture>

        <div class="block-categories-yacht">
          <div class="name-our-yacht">
            <p class="name-yacht truncate">BENETTI OASIS 40M BO122</p>
            <p class="type-yacht">LUXURY YAHTS</p>
          </div>
          <div class="categories-yacht">
            <ul class="item-categories">
              <li><p class="text-categories-yacht">LENGTH</p></li>
              <li><p class="text-categories-yacht">SHIPYARD</p></li>
              <li><p class="text-categories-yacht">BUILT</p></li>
              <li><p class="text-categories-yacht">GUESTS</p></li>
              <li><p class="text-categories-yacht">PRICE</p></li>
            </ul>
            <ul class="item-response">
              <li><p class="response">41m (133ft)</p></li>
              <li><p class="response">Benetti</p></li>
              <li><p class="response">2025</p></li>
              <li><p class="response">10 in 5 cabins</p></li>
              <li><p class="response">€23,210,000</p></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="item-our-yachts-block three">
        <picture>
          <source
            srcset="
              ./img/our-yachts/yaht-3.jpg    1x,
              ./img/our-yachts/yaht-3-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/our-yachts/yaht-3-top-1x.jpg 1x,
              ./img/our-yachts/yaht-3-top-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/our-yachts/yaht-3.jpg"
            width="360"
            height="268"
            alt="Photo yacht"
            class="yacht-img"
          />
        </picture>

        <div class="block-categories-yacht">
          <div class="name-our-yacht">
            <p class="name-yacht">BELLE ANNA</p>
            <p class="type-yacht">LUXURY YAHTS</p>
          </div>
          <div class="categories-yacht">
            <ul class="item-categories">
              <li><p class="text-categories-yacht">LENGTH</p></li>
              <li><p class="text-categories-yacht">SHIPYARD</p></li>
              <li><p class="text-categories-yacht">BUILT</p></li>
              <li><p class="text-categories-yacht">GUESTS</p></li>
              <li><p class="text-categories-yacht">PRICE</p></li>
            </ul>
            <ul class="item-response">
              <li><p class="response">50m(155ft)</p></li>
              <li><p class="response">ISA</p></li>
              <li><p class="response">2012</p></li>
              <li><p class="response">12 in 6 cabins</p></li>
              <li><p class="response">€21,000,000</p></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <a class="link-our-yacht" href="#rental">Yacht rental</a>
  </div>
</section>
