.container{
  padding-top: 40px; 
  padding-bottom: 40px; 
}

.yachtjet-container {
 background: #fbfbfb; 
 border-radius: 24px;
}

.yachtjet-content{
 padding:40px 20px 40px 20px;
} 

.yachtjet-title {
 color: #1b414b;
 margin-bottom: 40px;
}

.yachtjet-text{
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.yachtjet-text-hero {
 font-weight: 400;
 font-size: 18px;
 line-height: 100%;
 letter-spacing: -0.02em;
 color: #1b414b;
}

.yachtjet-text-basic{
 font-weight: 400;
 font-size: 12px;
 line-height: 1.17;
 letter-spacing: -0.02em;
 color: #040306;
}

.yachtjet-img {
 /* border-radius: 0 24px 0 0; */
 width:100%; 
}


@media only screen and (min-width: 768px) {
    .container {
     padding-top: 50px;
     padding-bottom: 75px;
    }
    .yachtjet-content{
      text-align: left; 
     padding: 50px 32px 50px 32px;
    }
    .yachtjet-title{
     font-size: 48px;
     width: 536px;
     margin-bottom: 50px;
    }
    .yachtjet-text-hero{
        font-size: 23px;
    }
    .yachtjet-text-basic{
     font-size: 13px;
     line-height: 1.15;
    }
}

@media only screen and (min-width: 1280px) {
    .yachtjet-content {
     display: flex;
      flex-direction: row;
     text-align: left;
     padding: 50px 50px 100px 50px;
   }
    
    .yachtjet-title {
     max-width: 537px;
     margin-right: 189px;
    }
    
   .yachtjet-text{
     max-width: 354px;
   }  
}

@media only screen and (min-width: 1440px) {
    .container{
        max-width: 1440px;
    }

    .yachtjet-title {
     max-width: 537px;
     margin-right: 299px;
    }

    .yachtjet-text {
     max-width: 404px;
    }

}