.header {
  
 background-color: #FBFBFB;
}


.socmedia{
  display: none;
  gap:8px;
  align-items: center;
}
.iten-icon{
  display: block;
}
.icon{
  fill: #1B414B;
}
.icon:hover,
.icon:focus{
  fill:#062730;
}
.icon-buter{
  stroke: #1B414B;
 
}
@media only screen and (min-width: 768px) {
 .socmedia {
   display: flex;
 }
}